.wrapper {
    width: 650px;
    margin: 0 auto;
}

.page-header h2 {
    margin-top: 0;
}

table tr td:last-child a {
    margin-right: 15px;
}

i.fas, i.far {
    color: #fff;
}

a.counter, a.counter:active:focus {
    border-left: 2px solid #494F57;
}

a.create_btn{
    padding: 5px 20px;
}

.help-block{
    display: block;
    color: #B00020;
    margin-top: 5px;
    font-weight: bold;
}